<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<comment/>
<entry key="margin_24">1164</entry>
<entry key="margin_23">1123</entry>
<entry key="margin_22">1081</entry>
<entry key="margin_21">1039</entry>
<entry key="margin_20">997</entry>
<entry key="min_stem_count">200</entry>
<entry key="margin_9">532</entry>
<entry key="margin_8">490</entry>
<entry key="margin_7">447</entry>
<entry key="margin_6">405</entry>
<entry key="y_end">580</entry>
<entry key="margin_5">363</entry>
<entry key="margin_4">321</entry>
<entry key="margin_3">278</entry>
<entry key="margin_2">236</entry>
<entry key="delay_steps">100</entry>
<entry key="margin_1">194</entry>
<entry key="margin_0">152</entry>
<entry key="margin_19">954</entry>
<entry key="margin_18">912</entry>
<entry key="margin_17">870</entry>
<entry key="delay_granualty">6000</entry>
<entry key="margin_16">828</entry>
<entry key="margin_15">785</entry>
<entry key="margin_14">743</entry>
<entry key="margin_13">701</entry>
<entry key="margin_12">659</entry>
<entry key="margin_11">616</entry>
<entry key="margin_10">574</entry>
<entry key="certaintity">54</entry>
<entry key="tcp_timeout_ms">1000</entry>
<entry key="bg_threshold">918</entry>
<entry key="ejector_on_steps">200</entry>
<entry key="y_start">530</entry>
<entry key="sl_threshold">338</entry>
<entry key="mux">18</entry>
</properties>
